.DS_Store
*.o
*.pyc
*.so
*.pyo
*.cfg
chains/
chains2/
.ipynb_checkpoints/
.ipynb_*
*.sbatch
data/*cov
scripts/.DS_Store
data_challenge/
interface/.DS_Store
.DS_Store
likelihood/.DS_Store
scripts/.DS_Store
chains2/
chains*/
data/.DS_Store
original_code/MCMC_DESY1CL_fidchain_AB_Analytic_fid_priors_theta_prior_HOD_evol_ns_fix_ASPrior_rich10_v5.hdf5
original_code/MCMC_DESY1CL_fidchain_AB_Analytic_fid_priors_theta_prior_HOD_evol_ns_fix_rich10_v5.hdf5